# Kunskapskontroll 1
## Databastyper

**OBS!** Alla uppgifter som inte står under rubriken **Väl godkänt** krävs för **Godkänt** på kunskapskontrollen.

1. Förklara övergripande vad NoSQL är.

Svar: NoSQL är databaser om inte är relationsbaserade

2. Vilken typ av data kan en NoSQL-databas hantera som inte en
relationell databas kan?

Svar: ostrukturerad och semistrukturerad data, T.EX. Bilder, Video, Ljudfiler, E-Post

3. Beskriv kortfattat vad en nyckel/värde-databas är.

Svar: Databas som lagrar data som par en en nyckel och ett värde, jämnförbart med dictionaries i python och liknande programerings språk
Nyckel/värde databaser går endas attt söka via nycklarna och inte värdena

4. Beskriv kortfattat vad en dokumentdatabas är.

Svar: Ungefär samma sak som en nyckel/värde databas, fast att att värdet måsta vara ett dokument

5. Beskriv kortfattat vad en bredkolumndatabas är.

Svar: Databaser som lagrar data i kolumner och rader likt ett excell dokument


6. Beskriv kortfattat vad en grafdatabas är.

Svar: Databas som lagrar data i noder som kan kopplas i hop med varandra

### Nyckel/värdedatabas

Lägg till datan i filen `kunskapskontroll_1/data/northwind/orders.csv` i en Redis-databas.

In [3]:
import pandas as pd
import json
import redis

In [ ]:
redisPWD = open("redis.pwd", "r").read().strip() #password is not included, please provide your own

r = redis.Redis(
    host='redis-17567.crce175.eu-north-1-1.ec2.redns.redis-cloud.com', #replace with applicable redis host as this is mine
    port=17567,
    decode_responses=True,
    username="default",
    password=redisPWD,
)

redisdf = pd.read_csv("data/northwind/orders.csv", index_col=False, encoding="utf")
redisdf.dropna(axis=1, inplace=True)
redisdf.index = pd.Index(pd.util.hash_pandas_object(redisdf))
redisdata = json.loads(redisdf.to_json(orient="index", force_ascii=False))

for k, v in redisdata.items():
    r.hset(k, mapping=v)

In [28]:
redisdf

,OrderID,OrderDate,RequiredDate,ShipName,ShipCountry,ShipAddress,ShipCity
488059964778042393,10248,1996-07-04 00:00:00,1996-08-01 00:00:00,Vins et alcools Chevalier,France,59 rue de l'Abbaye,Reims
17292483810436112306,10249,1996-07-05 00:00:00,1996-08-16 00:00:00,Toms Spezialitäten,Germany,Luisenstr. 48,Münster
12773387183970717204,10250,1996-07-08 00:00:00,1996-08-05 00:00:00,Hanari Carnes,Brazil,"Rua do Paço, 67",Rio de Janeiro
14997858034785196465,10251,1996-07-08 00:00:00,1996-08-05 00:00:00,Victuailles en stock,France,"2, rue du Commerce",Lyon
8405315252607356932,10252,1996-07-09 00:00:00,1996-08-06 00:00:00,Suprêmes délices,Belgium,"Boulevard Tirou, 255",Charleroi
...,...,...,...,...,...,...,...
12281181218423794308,11073,1998-05-05 00:00:00,1998-06-02 00:00:00,Pericles Comidas clásicas,Mexico,Calle Dr. Jorge Cash 321,México D.F.
15410868795232726576,11074,1998-05-06 00:00:00,1998-06-03 00:00:00,Simons bistro,Denmark,Vinbæltet 34,Kobenhavn
2477538700804024539,11075,1998-05-06 00:00:00,1998-06-03 00:00:00,Richter Supermarkt,Switzerland,Starenweg 5,Genève
506579794531996879,11076,1998-05-06 00:00:00,1998-06-03 00:00:00,Bon app',France,"12, rue des Bouchers",Marseille
17728417286841917382,11077,1998-05-06 00:00:00,1998-06-03 00:00:00,Rattlesnake Canyon Grocery,USA,2817 Milton Dr.,Albuquerque

In [29]:
r.hgetall("488059964778042393")

{'OrderID': '10248',
 'OrderDate': '1996-07-04 00:00:00',
 'RequiredDate': '1996-08-01 00:00:00',
 'ShipName': 'Vins et alcools Chevalier',
 'ShipCountry': 'France',
 'ShipAddress': "59 rue de l'Abbaye",
 'ShipCity': 'Reims'}

Ge ett exempel på hur vad man kan använda Redis-databasen du skapat till:

Svar: Hålla koll på olika beställningar, vart dem ska åka till och när dem borde skickas ut

### Dokumentdatabas

I mappen `kunskapskontroll_1/data/northwind/` finns filerna `products.csv` och `suppliers.json`.

Slå ihop `products.csv` och `suppliers.json` på ett passande sätt och spara dem som en dokumentdatabas i MongoDB.

#### Godkänt
Ta reda på:
* vilka produkter som behöver beställas (`ReorderLevel` $\gt$ `UnitsInStock` $ + $ `UnitsOnOrder`)
* vem man ska kontakta för att beställa fler, och
* hur man kontaktar personen

In [30]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

mongoPWD = open("data/northwind/mongodb.pwd", "r").read().strip()

uri = f"mongodb+srv://carlfredrikrifdata24hel:{mongoPWD}@cluster0.jqnfr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!


#### Väl godkänt
Skapa en Streamlit-app som visar produkter som behöver beställas och talar om vem man ska ringa för att beställa fler. Appen kan vara en enkel lista över produkter, eller innehålla fler funktioner (QR-kod-scanner?).

### Grafdatabas
**OBS** Fråga 1-3 nedan är desamma för både Godkänt och Väl godkänt. Det som skiljer sig är hur du väljer att skapa databasen samt fråga 4.

#### Godkänt
* Läs in `csv`-filerna i `kunskapskontroll_1/data/movies/prepared/` i Neo4j och skapa en datamodell.
* Svara på frågorna och utför instruktionerna nedan. Klistra in dina svar som JSON eller bilder, beroende på om svaret är i data- eller graf-form.
    1. Vilka är de 10 vanligaste kombinationerna av genrer?
    2. Vilka är de fem vanligaste genrerna på filmer regisserade av Steven Spielberg, och hur många filmer är i de genrerna?
    3. Det verkar som om de har missat att Viggo Mortensen är med i Sagan om Ringen-filmerna. Skapa `[:ACTED_IN]`-relationer mellan Viggo och alla tre *The Lord of the Rings*-filmerna. Visa en graf med Viggo i mitten och relationer till de tre filmerna.

#### Väl godkänt
* Bearbeta datan i `kunskapskontroll_1/data/movies/movies.json` så att den passar till att läsas in i Neo4j. Processen ska gå att följa i kodceller i notebooken. Du får gärna titta på filerna i `kunskapskontroll_1/data/movies/prepared/` för att få en idé om hur resultatet ska se ut.
* Läs in data in Neo4j.
* Svara på frågorna och utför instruktionerna nedan. Klistra in dina svar som JSON eller bilder, beroende på om svaret är i data- eller graf-form.
    1. Vilka är de 10 vanligaste kombinationerna av genrer?
    2. Vilka är de fem vanligaste genrerna på filmer regisserade av Steven Spielberg, och hur många filmer är i de genrerna?
    3. Det verkar som om de har missat att Viggo Mortensen är med i Sagan om Ringen-filmerna. Skapa `[:ACTED_IN]`-relationer mellan Viggo och alla tre *The Lord of the Rings*-filmerna. Visa en graf med Viggo i mitten och relationer till de tre filmerna.
    4. Hitta på minst en egen fråga och svara på den.

## Vad ska lämnas in på Learnpoint?

Deadline: 14/2 kl. 17.00

En länk till ett Github-repository som innehåller:
* en kopia av den här notebooken med dina svar på uppgifterna. **Använd kod-celler för kod och markdown-celler för text!**
* bilder på grafer så att de kan visas i notebooken
* VG: om du gjort en Streamlit-app i dokumentdatabas-delen ska där också finnas en `app.py` eller motsvarande med koden för appen.

That's it!